<h1>Edit Project </h1>
<%= render partial: 'form' %>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Logout'>
<% end %>

<%= form_tag ({controller: 'users', action: 'home', method: 'get'}) do %>
  <input type=submit value='Home'>
<% end %>